$categories: (
 ionic: #fff,
 android: #AC282B,
 node: #8E8D93,
 design: #FE4C52,
 services: #FD8B2D,
 workshop: #69BB7B,
 corejs: #3BC7C4,
 documentation: #B16BE3,
 navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}

.toolbar-days {
  text-align: center;
}

.day-text {
  padding-bottom: 5px;
}

.selected-day {
    color: white;    
    background-color: red;
    border-radius: 50%;    
}

// [button-stack] .button-inner{
//   flex-direction: column

// }